:root {
  --text-color : "#fff";
  --background-color : "#1c1e29";
}

.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #ff914d;
  text-decoration: none;
}

footer a:hover{
  color: #bf5f23;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 10px;
  margin-top: 0;
}

.homePageLogo {
  height: 90px;
  margin-bottom: 10px;
}

.inputBox {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 13px;
  font-weight: bold;
}

/* .btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
} */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.joinBtn {
  background: #ff914d;
}

.joinBtn:hover{
  background: #bf5f23;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #ff914d;
  text-decoration: none;
  border-bottom: 1px solid #ff914d;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover{
  color: #bf5f23;
  border-color: #bf5f23;
}

.mainWrap {
  display: grid;
  /* grid-template-columns: 230px 1fr; */
  grid-template-columns: 12vw 53vw 1fr;
  height: 100vh;
  overflow: hidden;
}

.aside {
  background: var(--background-color);
  padding: 16px;
  padding-top: 0px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 7px;
  font-size: 12px;
}

.logo {
  border-bottom: 1px solid #424242;
}

/* .logoImage {
  height: 60px;
  width: auto;
  margin-top: 8%;
  margin-left: 22%;
  margin-bottom: 2%;
  object-fit: contain;
} */
.logoImage {
  height: 39px;
  width: 58px;
  margin-top: 8%;
  margin-left: 22%;
  margin-bottom: 2%;
  object-fit: contain;
}

.leaveBtn {
  margin-top: 15px;
  background: #ff914d;
  color: var(--text-color);
}

.leaveBtn:hover {
  background: #bf5f23;
}

/* Styling for the main navbar container */
.editorBarWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  border-left: 1px solid var(--text-color);
}

.CodeMirror {
  min-height: 92vh;
  line-height: 1.6;
}


.nav-bar {
  margin:0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-color);
}

.languageSelect, .fontSizeSelect, .themeSelect{
  display:flex;
  align-items: center;
  justify-content: center;
  /* width:30%; */
}

 .fontSizeSelect label{
  margin: 10px;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .languageSelect,
  .fontSizeSelect,
  .themeSelect {
    margin: 10px 0;
  }

  /* Ensure label font size remains readable on smaller screens */
  .languageSelect label,
  .themeSelect label,
  .fontSizeSelect label {
    font-size: 1rem;
    /* Adjust this size as needed */
  }

  /* Optional: Adjust the select input styling to remain user-friendly */
  .languageSelect select,
  .themeSelect select,
  .fontSizeSelect input {
    width: 100%;
    /* Ensure inputs adjust to screen width */
    font-size: 1rem;
    /* Adjust this to match the label */
  }
}